<!doctype html>
<html lang="en" class="no-js">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#465e69" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Webpack Tailwind Starter" />
    <meta name="application-name" content="Webpack Tailwind Starter" />
    <meta name="msapplication-TileColor" content="#e2e8f0" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#e2e8f0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet" />

    <!-- Title & description -->
    <title>marigold</title>

    <!-- Facebook Open-Graph Tags -->
    <meta property="og:title" content="Webpack Tailwind Starter" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Webpack Tailwind Starter" />
    <meta
      property="og:description"
      content="A starter frontend boilerplate using Webpack 5, TailwindCSS, SASS, PostCSS, Babel, ESLint, Stylelint, Prettier and more." />
    <meta property="og:url" content="<%= publicUrl %>/" />
    <meta property="og:image" content="<%= publicUrl %>/fb_cover.jpg" />

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');
    </script>
  </head>
  <body class="font-sans">

    <div id="navigation" class="fixed top-0 w-full">
      <div class="container mx-auto py-8" style="z-index: 7;">
        <div class="flex justify-between items-center">
            <div class="logo-image">
                <img src="<%= require('./images/Marigold_Logo.svg') %>" alt="">
            </div>
            <div class="navigation hidden md:block">
  
                <div class="inner py-5 px-32 border-marigold border rounded-md">
                    <div class="wrapper flex">
                        <div class="text">
                            <p class="text-marigold">THE SPIRIT</p>
                        </div>
                        <div class="spacer px-6 text-marigold"> | </div>
                        <div class="text">
                            <p class="text-marigold">MARIGOLD PALOMA</p>
                        </div>
                        <div class="spacer px-6 text-marigold"> | </div>
                        <div class="text">
                            <p class="text-marigold">SWAG</p>
                        </div>
                    </div>
                </div>
  
            </div>
            <div class="actions py-5 px-6 border-marigold border rounded-md hidden md:block">
                <div class="wrapper flex items-center">
                    <div class="text">
                        <img src="<%= require('./images/btn_acc.svg') %>" alt="">
                    </div>
                    <div class="spacer px-6 text-marigold"> | </div>
                    <div class="text">
                        <img src="<%= require('./images/btn_cart.svg') %>" alt="">
                    </div>
                </div>
            </div>

            <div class="hamburger-wrapper md:hidden block">
              <div class="hamburger">
                <div class="bg-marigold w-[24px] h-[2px] mb-1" style="border-radius: 2rem;"></div>
                <div class="bg-marigold w-[18px] h-[2px] mb-1 ml-auto" style="border-radius: 2rem;"></div>
                <div class="bg-marigold w-[24px] h-[2px]" style="border-radius: 2rem;"></div>
              </div>
            </div>

        </div>
      </div>
    </div>

    <aside id="mobile-menu" class="mobile-menu fixed inset-0 w-screen h-screen bg-marigold z-20 md:hidden block" style="background-image: url(<%= require('./images/background_mobile_menu.png') %>); background-size: cover;">
      <div class="container">
        <div class="inner py-8">
          <div class="logo-image-header mb-4 relative">
            <div class="absolute right-0 top-1/2 -translate-y-1/2 text-white menu-close">
              <img src="<%= require('./images/menu_close.svg') %>" alt="">
            </div>
            <img src="<%= require('./images/marigold_menu_mobile.svg') %>" class="mx-auto logo-image" alt="">
          </div>
          <hr class="border border-white">
          <div class="menu-wrapper text-center py-7">
            <div class="menu-item mb-8">
              <a href="#" class="text-[16px] font-bold tracking-[.25em] text-white">THE SPIRIT</a>
            </div>
            <div class="menu-item mb-8">
              <a href="#" class="text-[16px] font-bold tracking-[.25em] text-white">MARIGOLD PALOMA</a>
            </div>
            <div class="menu-item mb-8">
              <a href="#" class="text-[16px] font-bold tracking-[.25em] text-white">SWAG</a>
            </div>
            <div class="menu-item mb-8">
              <a href="#" class="text-[16px] font-bold tracking-[.25em] text-white">LOGIN</a>
            </div>
            <div class="menu-item">
              <a href="#" class="text-[16px] font-bold tracking-[.25em] text-white">CART (0)</a>
            </div>
          </div>
          <hr class="border border-white">
          <div class="logo-icon py-4">
            <img class="mx-auto" src="<%= require('./images/marigold_menu_logo_mobile.svg') %>" alt="">
          </div>
          <div class="socials py-4 flex gap-x-2.5 items-center justify-center">
            <div class="text text-white text-[14px] tracking-[.25em] font-bold uppercase">
              Follow the chaos
            </div>
            <div class="socials-buttons gap-x-1.5 flex">
              <a href="#">
                <img src="<%= require('./images/menu_ig.svg') %>" alt="">
              </a>
              <a href="#">
                <img src="<%= require('./images/menu_tiktok.svg') %>" alt="">
              </a>
            </div>
          </div>
          <div class="py-4 text-center">
            <p class="text-[11px] text-white font-bold tracking-[.25em]">MARIGOLD™ © 2025.</p>
            <p class="text-[11px] text-white font-bold tracking-[.25em]">Respect the brand, embrace the chaos.</p>
          </div>
          <div class="py-4 text-center">
            <a href="#" class="text-white tracking-[.25em] font-bold uppercase text-[11px] underline">Terms & Conditions.</a>
          </div>
        </div>
      </div>
    </aside>

    <div class="modal modal__age-verification inset-0 w-full h-full" style="z-index: 1000; display: none;">
      <div class="modal_overlay absolute inset-0 w-full h-full bg-black opacity-[.75] z-1"></div>
      <div class="relative flex items-center justify-center h-full z-2">
        <div class="max-w-2xl modal_body py-12 px-8 mx-auto" style="background-image: url(<%=require('./images/bg-texture.png')%>); background-color: #fff; border-radius: 6px;">
          <div class="title-wrapper text-center mb-2">
            <p class="text-[45px] font-serif tracking-[.1em] leading-[.9em] text-marigold">OLD ENOUGH TO SIP IRRESPONSIBLY?</p>
          </div>
          <div class="subtitle-wrapper text-center mb-4">
            <p class="text-[12px] tracking-[.1em] text-gray">If you're over 21, step into the chaos. If not, we'll save you a sip</p>
          </div>
          <div class="buttons-wrapper flex gap-x-8 justify-center mb-4">
            <div class="yes-button button-item cursor-pointer flex border border-gray-2 items-center max-w-[8.75rem] gap-x-2 px-2 py-2" style="border-radius: 6px;">
              <div class="items text-[#8e8e93] text-[21.5px] font-serif tracking-[.1em] leading-[.9em]">YES</div>
              <div class="items text-[#8e8e93] text-[9.5px] tracking-[.1em] mb-1">I am older than 21</div>
            </div>
            <div class="no-button button-item cursor-pointer flex border border-gray-2 items-center max-w-[8.75rem] gap-x-2 px-3 py-2" style="border-radius: 6px;">
              <div class="items text-[#8e8e93] text-[21.5px] font-serif tracking-[.1em] leading-[.9em]">NO</div>
              <div class="items text-[#8e8e93] text-[9.5px] tracking-[.1em] mb-1">but i can not wait</div>
            </div>
          </div>
          <div class="checkbox-wrapper text-center mb-4">
            <div class="flex items-center justify-center gap-x-2">
              <input type="checkbox" id="checkbox-remember" class="border-[#bfbfbf] cursor-pointer" style="border-radius: 4px;">
              <label for="checkbox-remember">
                <p class="text-[12px] text-[#8E8E93] tracking-[.1em] cursor-pointer">Remember me on this device</p>
              </label>
            </div>
          </div>
          <div class="footer-wrapper text-center">
            <p class="text-grey text-[10px] tracking-[.1em]">By continuing, you confirm that you are of legal drinking age <br />and agree to our Terms & Conditions.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="socials-sticky uppercase fixed left-0 top-1/2 translate-y-1/2 items-center z-10 py-6 px-4 flex bg-texture-socials" style="background-image: url(<%=require('./images/bg-texture.png')%>); background-color: #fff;">
      <div class="text text-marigold text-[14px] tracking-[.25em] font-bold">
        Follow the chaos
      </div>
      <div class="socials-buttons mt-4 flex">
        <a href="#" class="mb-3">
          <img src="<%= require('./images/instagram_header.svg') %>" style="rotate: 180deg;" alt="">
        </a>
        <a href="#">
          <img src="<%= require('./images/tiktok_header.svg') %>" style="rotate: 180deg;" alt="">
        </a>
      </div>
    </div>

    <div id="smooth-wrapper">
      <div id="smooth-content">

        <div class="header-logo" style="background-image: url(<%= require('./images/footer-text-texture.jpg') %>);">
            <div class="py-4">
                <a href="/">
                    <img class="mx-auto" src="<%= require('./images/marigold_header_product_logo.svg') %>" alt="">
                </a>
            </div>
        </div>
        <div id="page" style="background-image: url(<%=require('./images/bg-texture.png')%>)">

          <!-- Product Single -->
           <div class="section__product-single">
               <div class="container mx-auto py-24">
                    <div class="grid grid-cols-12 md:gap-12">
                        <div class="md:col-span-6 col-span-12">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-wrapper">
                                            <img src="<%= require('./images/shirt-placeholder.png') %>" class="w-full" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-wrapper">
                                            <img src="<%= require('./images/cap-placeholder.png') %>" class="w-full" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-wrapper">
                                            <img src="<%= require('./images/shirt-placeholder.png') %>" class="w-full" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-wrapper">
                                            <img src="<%= require('./images/shirt-placeholder.png') %>" class="w-full" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:col-span-6 col-span-12">
                            <div class="title-wrapper mb-4">
                                <p class="text-[58px] leading-[46px] font-serif text-marigold">MERCH <br />FULL NAME</p>
                            </div>
                            <div class="price-wrapper mb-6">
                                <p class="text-grey text-[12px] tracking-[.25em]">IDR 1,050,000</p>
                            </div>
                            <div class="description-wrapper mb-6">
                                <p class="text-[#333] text-[12px] leading-[18px] tracking-[.1em]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat.</p>
                            </div>
        
                            <div class="swiper-navigation-button flex gap-x-2 mb-4" data-swiper-nav="product-single"></div>

                            <div class="variation-wrapper flex gap-x-3 mb-4">
                                <div class="variation font-bold text-[14px] px-4 py-4 border-gray border leading-[1]" style="border-radius: 6px;">
                                    XS
                                </div>
                                <div class="variation font-bold text-[14px] px-4 py-4 border-gray border leading-[1]" style="border-radius: 6px;">
                                    S
                                </div>
                                <div class="variation font-bold text-[14px] px-4 py-4 border-gray border leading-[1]" style="border-radius: 6px;">
                                    M
                                </div>
                                <div class="variation font-bold text-[14px] px-4 py-4 border-gray border leading-[1]" style="border-radius: 6px;">
                                    L
                                </div>
                                <div class="variation font-bold text-[14px] px-4 py-4 border-gray border leading-[1]" style="border-radius: 6px;">
                                    XL
                                </div>
                                <div class="variation font-bold text-[14px] px-4 py-4 border-gray border leading-[1]" style="border-radius: 6px;">
                                    XXL
                                </div>
                            </div>

                            <div class="buy-amount-wrapper flex border-gray border bg-white max-w-fit py-2 px-3 mb-4" style="border-radius: 6px;">
                                <div class="minus-button buy-amount-button font-bold cursor-pointer disabled">
                                    -
                                </div>
                                <!-- <div class="">
                                    1
                                </div> -->
                                <input type="number" min="1" class="buy-amount__display font-bold text-center p-0 w-[48px] border-0" name="buy-amount" value="1">
                                <div class="plus-button buy-amount-button font-bold cursor-pointer">
                                    +
                                </div>
                            </div>


                            <div class="buttons-wrapper flex gap-x-4">
                                <div class="button-item">
                                    <a href="" class="text-[rgba(0,0,0,.5)] px-4 py-4 bg-[#eaeaea] block uppercase tracking-[.25em] font-bold text-[12px]">Got a code? </a>
                                </div>
                                <div class="button-item">
                                    <a href="" class="text-[rgba(0,0,0,.5)] px-4 py-4 block uppercase tracking-[.25em] font-bold text-[12px] text-white" style="border-radius: 6px; background-image: url(<%= require('./images/footer-text-texture.jpg') %>);">Grab Mine</a>
                                </div>
                            </div>


                        </div>
                    </div>
               </div>
           </div>

          <div class="container mx-auto py-8">
            <hr class="bg-marigold text-marigold border-marigold" />
          </div>

          <!-- Product list -->

          <div class="section__product-list">
            <div class="container mx-auto py-12">
              <div class="title-section text-center">
                <p class="text-highlight font-serif text-marigold bg-footer-texture-text tracking-[.05em]">HOLD <span class="font-extra">ON</span> <br />THERE'S MORE</p>
                <p class="text-[11px] text-marigold font-bold tracking-[.25em] uppercase">Look irresponsible.</p>
                <p class="text-[11px] text-marigold font-bold tracking-[.25em] uppercase">Shop responsibly.</p>
              </div>
              <div class="product-list py-12">
                <div class="grid grid-cols-12">

                  <div class="md:col-span-3 col-span-6 product-item" style="--product-background-image: url('<%= require('./images/text-texture.jpg') %>')">
                    <div class="inner py-8 px-4">
                      <div class="image-wrapper relative pt-[100%] mb-4">
                        <img class="image-ratio" src="<%= require('./images/cap-placeholder.png') %>" alt="">
                        <img class="image-ratio hover-image" src="<%= require('./images/hover-product-placeholder.jpg') %>" alt="">
                      </div>
                      <div class="text-wrapper text-center">
                        <div class="title-wrapper">
                          <p class="text-[16px] font-bold">PRODUCT NAME</p>
                        </div>
                        <div class="price-wrapper">
                          <p class="text-[12px] font-bold tracking-[.25em]">IDR 1,050,000</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="md:col-span-3 col-span-6 product-item" style="--product-background-image: url('<%= require('./images/text-texture.jpg') %>')">
                    <div class="inner py-8 px-4">
                      <div class="image-wrapper relative pt-[100%] mb-4">
                        <img class="image-ratio" src="<%= require('./images/cap-placeholder.png') %>" alt="">
                        <img class="image-ratio hover-image" src="<%= require('./images/hover-product-placeholder.jpg') %>" alt="">
                      </div>
                      <div class="text-wrapper text-center">
                        <div class="title-wrapper">
                          <p class="text-[16px] font-bold">PRODUCT NAME</p>
                        </div>
                        <div class="price-wrapper">
                          <p class="text-[12px] font-bold tracking-[.25em]">IDR 1,050,000</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="md:col-span-3 col-span-6 product-item" style="--product-background-image: url('<%= require('./images/text-texture.jpg') %>')">
                    <div class="inner py-8 px-4">
                      <div class="image-wrapper relative pt-[100%] mb-4">
                        <img class="image-ratio" src="<%= require('./images/cap-placeholder.png') %>" alt="">
                        <img class="image-ratio hover-image" src="<%= require('./images/hover-product-placeholder.jpg') %>" alt="">
                      </div>
                      <div class="text-wrapper text-center">
                        <div class="title-wrapper">
                          <p class="text-[16px] font-bold">PRODUCT NAME</p>
                        </div>
                        <div class="price-wrapper">
                          <p class="text-[12px] font-bold tracking-[.25em]">IDR 1,050,000</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="md:col-span-3 col-span-6 product-item" style="--product-background-image: url('<%= require('./images/text-texture.jpg') %>')">
                    <div class="inner py-8 px-4">
                      <div class="image-wrapper relative pt-[100%] mb-4">
                        <img class="image-ratio" src="<%= require('./images/cap-placeholder.png') %>" alt="">
                        <img class="image-ratio hover-image" src="<%= require('./images/hover-product-placeholder.jpg') %>" alt="">
                      </div>
                      <div class="text-wrapper text-center">
                        <div class="title-wrapper">
                          <p class="text-[16px] font-bold">PRODUCT NAME</p>
                        </div>
                        <div class="price-wrapper">
                          <p class="text-[12px] font-bold tracking-[.25em]">IDR 1,050,000</p>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>



          <!-- footer -->
          <div class="container mx-auto">
            <hr class="bg-marigold text-marigold border-marigold" />
          </div>

          <footer class="py-7">
            <div class="container mx-auto">
              <div class="flex justify-between items-center mb-4">
                <div class="logo">
                  <img src="<%= require('./images/logo.png') %>" alt="" />
                </div>

                <div class="tagline text-right">
                  <p class="text-marigold leading-[.96em] font-serif text-[70px] bg-footer-texture-text">FOLLOW</p>
                  <div class="socials flex items-center justify-end">
                    <div class="socials-wrapper flex mb-2">
                      <a href="#">
                        <img src="<%= require('./images/ig_footer.svg') %>" class="mr-2" alt="" />
                      </a>
                      <a href="#">
                        <img src="<%= require('./images/tiktok_footer.svg') %>" class="mr-8" alt="" />
                      </a>
                    </div>
                    <p class="text-marigold leading-[.96em] font-serif text-[70px] bg-footer-texture-text">THE</p>
                  </div>
                  <p class="text-marigold leading-[.96em] font-serif text-[70px] bg-footer-texture-text">CHAOS</p>
                </div>
              </div>

              <div class="flex justify-between items-center">
                <a href="#" class="text-gray tracking-wider">TERMS & CONDITIONS</a>
                <p class="text-grey">MARIGOLD™ © 2025. Respect the brand, embrace the chaos.</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
