// scss entry point

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "swiper";
@import './components/product-highlight.scss';
@import './components/title-break.scss';
@import './components/photo-gallery.scss';
@font-face {
  font-family: 'Fresh Almond';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FreshAlmond-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: Griffiths;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Griffiths.otf') format('opentype');
  font-display: swap;
}

html,
body {
  @apply h-full;
}

.bg-footer-texture-text {
  background: url('../images/footer-text-texture.jpg');
  background-clip: text;
  background-size: cover;
  color: transparent !important;
  line-height: 1;
}

#page {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.image-ratio {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
