// scss entry point

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "swiper";
// @import './components/hero-image.scss';
@import './components/product-highlight.scss';
@import './components/title-break.scss';
@import './components/photo-gallery.scss';
@import './components/product-list.scss';
@import './components/text-highlight.scss';
@import './components/product-single.scss';
@font-face {
  font-family: 'Fresh Almond';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FreshAlmond-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: Griffiths;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Griffiths.otf') format('opentype');
  font-display: swap;
}

#mobile-menu {
  transform: translateY(-100%);
}

.bg-footer-texture-text {
  background: url('../images/footer-text-texture.jpg');
  background-clip: text;
  background-size: cover;
  color: transparent !important;
  line-height: 1;
}

.bg-texture-socials {
  background-size: cover;
}

#page {
  padding: 0;
  margin: 0;
  // background-repeat: no-repeat;
  background-size: 100% auto;
  background-repeat: repeat-y;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -4px;
  position: relative;
  z-index: 9;
  background-color: #fff;
}

.image-ratio {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.socials-sticky {
  writing-mode: vertical-lr;
  rotate: 180deg;
  // border-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.text-highlight {
  font-size: 93px;
  @media(max-width: 768px) {
    font-size: 58px;
  }
}

body {
  #navigation {
    transform: translateY(-100%);
    z-index: 11;
    transition: all .4s ease;
  }
  &.nav-active #navigation {
    transform: translateY(0);
  }
  &.inside-hero #navigation {
    transform: translateY(-100%);
  }
}

.marigold-drop-shadow {
  box-shadow: 12px 6px 10px 0 rgba(0, 0, 0, 0.25);

}

.container {
  padding-left: .75rem;
  padding-right: .75rem;
}

[data-split-text] {
  overflow-y: hidden;
}

.word-wrapper {
  padding-right: .3em;
  padding-bottom: .1em;
  margin-right: -.3em;
}

.force-mask-line-mask {
  display: inline!important;
}